
.uniqueDropdownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 103px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.8s cubic-bezier(0.5, 0, 0.1, 1);
    right: 0px;
}

.uniqueDropdownContent a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s ease;
}

.uniqueDropdownContent a:hover {
    background-color: #cecece;
}

.uniqueDropdown:hover .uniqueDropdownContent {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.announcement-card {
    transition: transform 0.3s ease-in-out;
}

.announcement-card:hover {
    transform: scale(1.05);
}
/* styles.module.css */

.myCard {
    max-width: 720px; /* Adjust this value as needed */
    width: 100%; /* Ensures the card takes up full width on smaller screens */
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 768px) {
    .myCard {
        max-width: 60%; /* Set max-width to 100% for smaller screens */
    }
}
@media (max-width: 768px) {
    .filter {
        max-width: 60%; /* Set max-width to 100% for smaller screens */
    }
}
@media (max-width: 768px) {
    .announcementFooter h3{
        font-size: 9px;
        border-radius: 20px;
    }
    .announcementDiv{
        font-size: 12px;
        position: "absolute";
        top: 0px;
    }
}

.filter{
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.hoverableCard:hover {
    /* Define hover effects here */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Example box shadow */
    
    /* Add other hover effects as needed */
}

.image{
    width: 100%;
    margin: auto;
    object-fit:cover;
    border-radius: 20px;
    height: 150px;

}
.rej{ 
        width: 100%;
        margin: auto;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 20px; /* Adjust the value as needed */
        border-top-right-radius: 20px; /* Adjust the value as needed */
}
/* andrp.module.css */

.closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    color: #000; /* Change color as needed */
}

.closeButton:focus {
    outline: none;
}

.text{
    font-size: 11px;
    color: #818181;
    padding-top: 10px;
}
