.bg-gradient-primary11{
    background-image: linear-gradient(180deg, #a01818 10%, #000000 100%) !important;
}
.btn-primary11{
    background-color: #a01818 !important;
}
.fa-sm11{
    color: rgb(255, 255, 255);
}
