.unique-dropdown {  position: relative;
    display: inline-block;
  }

  .unique-dropbtn { 
    background-color: #a01818;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: monospace;
  }

  .unique-dropdown-content {  display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
  }

  .unique-dropdown-content a {  color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }

  .unique-dropdown-content a:hover {background-color: #fde9e9}

  .unique-dropdown:hover .unique-dropdown-content {  display: block;
  }

  .unique-dropdown:hover .unique-dropbtn {  background-color: #8b1515;
  }

  .css-1nrlq1o-MuiFormControl-root{
    min-width: 100% !important;
  }
/* For screens with a width of 1000px or more */
@media screen and (min-width: 1000px) {
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 20% !important;
  }
}

/* For screens with a width less than 1000px but greater than 600px */
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 30% !important;
  }
}

/* For screens with a width of 600px or less */
@media screen and (max-width: 600px) {
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 50% !important; /* Adjust the width as needed */
  }
}
