.floating-label {
    position: absolute;  
    pointer-events: none;
    font-size: 0.8rem;
    color: #999;
    transition: 300ms ease;
  }
  
  .floating-label.active {
    transform: translateY(-27px); /* Adjust the scale on activation */
    color: #333; /* Adjust the label color on activation */
  }